* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

/* NAVEGACAO */

nav {
    width: 100%;
    background-color: #262626;
    text-align: center;
    border-bottom: 2px #404040 solid;
    top: 0;
    left: 0;
    padding: 9px;
}

nav li {
    display: inline-block;
    padding: 9px;
    color: white;
}

nav a {
    text-align: center;
    background-color: #262626;
    padding: 5px 10px 5px 10px;
    margin: 0px 0 0px 10px;
    font-size: 18px;
    border-radius: 5px 5px 5px 5px;
    border: 2px #00ff7f solid;
    color: #00ff7f;
    cursor: pointer;
}

nav a:hover {
    color: #262626;
    border: none;
    background-image: linear-gradient(#bf80ff,  #00ff7f);
    font-weight: bold;
    padding: 7px 12px 7px 12px;
    margin: 0px 0 0px 10px;
}

/* INTRO */

.intro {
    padding: 55px 0 0px 0px;
    background-image: linear-gradient(#bf80ff,  #00ff7f );
    color: #262626;
}

.intro h1 {
    margin: 0 0 0 90px;
    width: 350px;
    font-size: 50px;
}

.intro .center {
    text-align: center;
}

.intro .icons {
    margin: 87px 65px 0px 66px ;
    width: 190px;
    height: 130px;
}

.desc {
    text-align: center;
}

.desc h2{
    text-align: center;
    color:  #262626;
    display: inline-block;
    font-size: 20px;
    width: 240px;
    margin: 0 42px;
    margin-bottom: 40px;
}

/* EXCLUSIVOS */

.exclusivos {
    padding: 10px;
    background-color:  #262626;
    border-bottom: 2px #404040 solid;
    border-top: 2px #404040 solid;
}

.exclusivos h1 {
    text-align: center;
    color: #00ff7f;
    margin: 30px 0 30px 0;
}

.exclusivos .imagens {
    margin: 25px 0 0 0;
}

.exclusivos img {
    height: 290px;
    width: 200px;
    margin: 0 0 0 10px;
    border: 1px #404040 solid;
}

/* PLANOS */

.pacotes {
    padding: 25px 0px 25px 0px;
    color: white;
    background-color:  #262626;
    overflow: hidden;
}

.pacotes h1 {
    color: #bf80ff;
    text-align: center;
    margin: 0px 0 0 0px;
    font-size: 30px;
    font-weight: bold;
}

.pacote1 {
    margin: 60px 0 0 65px;
    border-radius: 5px 5px 5px 5px;
    border: #00ff7f solid;
    width: 350px;
    background-color: #262626;
    float: left;
}

.pacote1 h2 {
    color: white;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    background-color: #00ff7f;
}

.pacote1 h3 {
    margin: 200px 0 0 0;
    text-align: center;
    font-size: 43px;
}

.pacote1 ul {
    margin: 12px 0 10px 0px;
    border-top: #00ff7f solid;
    border-bottom: #00ff7f solid;
}

.pacote1 li {
    padding: 7px;
    margin: 0px 0px 0px 25px;
}

.anulado {
    color:  #404040;
}

.bi-check2, .bi-x {
    color: #bf80ff;
    width: 18px;
    height: 18px;
}

.pacote1 button {
    text-align: center;
    background-color: #262626;
    width: 300px;
    padding: 10px;
    margin: 0px 0 12px 23px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    border: #00ff7f solid;
    color: #00ff7f;
    cursor: pointer;
}

.pacote1 button:hover {
    color: #262626;
    font-weight: bold;
    background-image: linear-gradient(#bf80ff,  #00ff7f);
    border: none;
    padding: 10px;
    margin: 0px 0 12 23px;
    height: 48px;
}

.pacote1 button:active {
    border: none;
}


/* SOBRE */

.sobre {
    border-top: 2px #404040 solid;
    background-image: linear-gradient(#bf80ff,  #00ff7f);
}

.sobre .titulo {
    font-size: 65px;
    color: #262626;
    font-weight: bold;
    padding: 50px 75px;
    width: 50px;
    font-weight: bold;
}

.sobre .s {
    padding-left: 150px;
}

.sobre .texto {
    width: 100%;
    background-color: #262626;
    color: white;
    border-top: 2px #404040 solid;
    text-align: justify;
    padding: 65px 75px;
}

/* FOOTER */

footer {
    background-color:  #262626;
    padding: 5px;
    border-top: 2px #404040 solid;
}

.sociais {
    margin-left: 30px;
    color: white;
    float: right;
    padding: 15px 45px 15px 0px;
}

.sociais li {
    display: inline-block;
    padding: 0px 15px 0px 0px;
}

.info {
    text-align: center;
    padding: 15px 0 15px 390px;
}

.info li {
    display: inline-block;
    padding: 0px 35px 0px 0px;
}

.info a{
    color: white;
}

footer span {
    color: whitesmoke;
    text-align: center;
}